<div class="AboutContanier">
    <div class="about-section">
        <h1><span style="color: red">O</span><span style="color: rgb(81, 255, 0)">n</span><span style="color: rgb(0, 225, 255)">e</span> world - we are one family</h1>
        <p>We ensure that you definetly got best experince with us</p>
        <p>Kindly contact us if you have any query,we want to serve you better</p>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <!-- <img src="/w3images/team1.jpg" alt="Jane" style="width:100%"> -->
            <div class="container">
              <h2>Vinith R</h2>
              <p class="title">CEO & Founder</p>
              <p>Age 25, stayed in chennai</p>
              <p>Vinithngl04@gmail.com</p>
              <p><button class="button"><a style="color:white;text-decoration: none;" href="mailto:info@w3docs.com?cc=secondemail@example.com, anotheremail@example.com, &bcc=lastemail@example.com&subject=Mail from our Website&body=Dear W3docs Team">Contact</a></button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <!-- <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> -->
            <div class="container">
              <h2>Rajesh</h2>
              <p class="title">Art Director</p>
              <p>Age 22,stayed in Mumbai</p>
              <p>Rajesh22@gmail.com</p>
              <p><button class="button"><a style="color:white;text-decoration: none;" href="mailto:info@w3docs.com?cc=secondemail@example.com, anotheremail@example.com, &bcc=lastemail@example.com&subject=Mail from our Website&body=Dear W3docs Team">Contact</a></button></p>
            </div>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <!-- <img src="/w3images/team3.jpg" alt="John" style="width:100%"> -->
            <div class="container">
              <h2>Ganesh</h2>
              <p class="title">Designer</p>
              <p>Age 24,stayed in Delhi</p>
              <p>Ganesh34@gmail.com</p>
              <p><button class="button"><a style="color:white;text-decoration: none;" href="mailto:info@w3docs.com?cc=secondemail@example.com, anotheremail@example.com, &bcc=lastemail@example.com&subject=Mail from our Website&body=Dear W3docs Team">Contact</a></button></p>
            </div>
          </div>
        </div>
      </div>
</div>
