/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

nav{
    display:flex;
    width:100%;
    background:#0a5071;
    position:fixed;
    justify-content:space-between;
    text-align:center;
    padding:4px 30px
}
nav .icon{
    font-size:35px;
    font-weight:800;
    color:#fff;
}

nav ol{
    display:flex;
    list-style-type:none;
    margin:auto 0;
}

nav ol li{
    margin:0 10px;
}
nav ol li a{
    font-size:20px;
    color:#fff;
    text-decoration:none;
    text-transform:capitalize;
    letter-spacing:1px;
    padding:5px 10px
}

nav ol li:hover a {
    background: #fff;
    color: #0a5071;
}

nav .search_box{
    display:flex;
    margin:auto 0;
    height:35px;
    line-height:35px
}
nav .search_box input{
    border:none;
    outline:none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    /* border-radius: 4px; */
    background:#fff;
    height:100%;
    padding:0 10px;
    width:350px;
    font-size:17px
}
nav .search_box span {
    color: #0a5071;
    font-size:20px;
    background:#fff;
    height:100%;
    padding:2px 8px;
    position:relative;
    z-index:1;
    cursor:pointer;
}
nav .search_box span::after{
    height:100%;
    width:100%;
    content:'';
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background:#ff003c;
    top:0;
    right:0;
    position:absolute;
    z-index:-1;
    transition:0.3s
}

nav .search_box span:hover::after {
    width:100%
}

.loader{
    display: none;
    position: fixed;
    z-index: 99;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: .6;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.loader img{
    margin: 300px auto ;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
}
footer{
    padding: 12px 0px 5px 600px;
    background-color: black;
    height: 50px;
    color: white;
    position: fixed;
    width: 100%;
    right: 0px;
    bottom: 0px;;
}

body{
    margin-bottom: 80px;
}

.PayementPopup{
    display: none;
    position: fixed;
    z-index: 99;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    background-color: white;
    opacity: 1;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.PayementPopup img{
    margin: 160px auto ;
    height: 200px;
    width: 200px;
    display: flex;
    /* z-index: 8888; */
    opacity: 5;
    justify-content: center;
}

.PayementPopup span{
    position: fixed;
    top: 350px;
    margin-left: 600px;
    text-align: center;
    color: green;
    font-weight: 900;
    font-size: 30px;
}
.PayementPopup P{
    position: fixed;
    top: 390px;
    margin-left: 560px;
    text-align: center;
    color: rgb(0, 128, 128);
    font-weight: 900;
    font-size: 20px;
}
.PayementPopup button{
    position: fixed;
    top: 430px;
    margin-left: 670px;
    text-align: center;
    color: rgb(0, 128, 128);
    font-weight: 900;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
}

