
<div class="main-cards-container">
    <div class="cards top-cards">
        <div class="cards-image">
            <img src="assets\images\Mobiles.png" />
        </div>
        <div class="cards-title"><h1>Mobiles</h1></div>
        <div class="des">
            
            <button type="button" (click)="ToProductList('Mobiles')">Shop Now</button>
        </div>
    </div>
    <div class="cards top-cards">
        <div class="cards-image">
            <img src="assets\images\Fashion.png" />
        </div>
        <div class="cards-title"><h1>Fashion</h1></div>
        <div class="des">
            
            <button type="button" (click)="ToProductList('Fashion')">Shop Now</button>
        </div>
    </div>
    <div class="cards top-cards">
        <div class="cards-image">
            <img src="assets\images\Beauty.png" />
        </div>
        <div class="cards-title"><h1>Beauty</h1></div>
        <div class="des">
            
            <button type="button" (click)="ToProductList('Beauty')">Shop Now</button>
        </div>
    </div>
    <div class="cards">
        <div class="cards-image">
            <img src="assets\images\Grocery.png" />
        </div>
        <div class="cards-title"><h1>Grocery</h1></div>
        <div class="des">
            
            <button type="button" (click)="ToProductList('Grocery')">Shop Now</button>
        </div>
    </div>
    <div class="cards">
        <div class="cards-image">
            <img src="assets\images\HomeAppliencs.jfif" />
        </div>
        <div class="cards-title"><h1>Appliances</h1></div>
        <div class="des">
            
            <button type="button" (click)="ToProductList('Appliances')">Shop Now</button>
        </div>
    </div>
    <div class="cards">
        <div class="cards-image">
            <img src="assets\images\Travel.jfif" />
        </div>
        <div class="cards-title"><h1>Travel</h1></div>
        <div class="des">
            
            <button type="button" (click)="ToProductList('Travel')">Shop Now</button>
        </div>
    </div>
</div>